.elements__basket {
  position: absolute;
  border: 0;
  background-image: url(../../../images/basket.svg);
  width: 18px;
  height: 19px;
  padding: 0;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-in;
} 
.elements__basket:hover {
    opacity: 0.6;
}