.footer {
  width: calc(100% - (2 * 19px));
  margin: 48px auto 36px;
}

@media (min-width: 768px) {
  .footer {
    width: calc(100% - (2 * 100px));
    margin: 66px auto 60px;
  }
}


@media (min-width: 1024px) {
  .footer {
    margin-top: 66px;
    margin-bottom: 60px;
    width: 100%;
  }
}